@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-bg: #141e24;
    --color-hover: #193945;
    --color-control: #3B84B9;
    --color-text: #fff;
    --color-text-hover: white;
    /* --color-highlight: #3B84B9; */
    --color-highlight: #CF0045;
    --color-ali: #4fbea9;
    --color-honey: #f68623;
    --color-honey-text: #ff9f4a;
    --color-toucan: #2b7670;
    --color-toucan-text: #54b8af;
    --font-family: "Open Sans", sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    color: var(--color-highlight);
    font-weight: var(--font-weight-normal);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

a {
    color: var(--color-text);
    outline: none;
    transition: color 125ms;
}

a:hover {
    color: var(--color-text-hover);
}

p {
    font-size: 18px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.text-highlight {
    color: var(--color-highlight);
}

.body {
    position: relative;
    
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 15px 15px 200px 15px;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo {
    display: inline-block;
    max-width: 156px;
    width: 100%;
}

nav {
    margin-top: 15px;
    text-align: center;
}

nav a {
    border-bottom: 0.0625rem solid #ffffff00;
    font-size: 24px;
    font-weight: var(--font-weight-light);
    margin: 0 1rem;
    text-decoration: none;
    transition: all 125ms;
    white-space: nowrap;
}

nav a:hover {
    border-bottom-color: var(--color-text-hover);
}

.main > .section {
    padding-bottom: 30px;
}

.main > .section:last-child {
    padding-bottom: 0;
}

/* install-links */

.install-links {
    display: grid;
    gap: 1rem 0;
    grid-template-columns: repeat(2, 17rem);
    justify-items: center;
    min-width: 16rem;
    padding: 0;
}

@media (max-width: 768px) {
    .install-links {
        grid-template-columns: repeat(1, 17rem);
    }
}

.install-links li {
    list-style-type: none;
}

.install-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid var(--color-control);
    border-radius: 25px;
    box-shadow: 0 0 0rem var(--color-text);
    color: white;
    height: 50px;
    min-width: 265px;
    padding: 8px;
    text-decoration: none;
    transition: all 250ms;
}

.install-link:hover {
    border-color: white;
    box-shadow: 0 0 8px var(--color-text);
}

.install-link__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.install-link__text {
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.5rem;
}

.install-link__text strong {
    color: var(--color-text-hover);
}

.icon--chrome {
    background-image: url(images/icon-chrome-512x512.svg);
    background-size: 90%;
}

.icon--firefox {
    background-image: url(images/icon-firefox-87x82.svg);
}

.icon--safari {
    background-image: url(images/icon-safari-66x66.svg);
}

.icon--edge {
    background-image: url(images/icon-edge-256x256.svg);
    background-size: 90%;
}

/* screenshot */

.screenshot {
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
    display: inline-block;
    max-width: 100%;
    text-align: center;
}

/* FOOTER */

.copyright-text {
    font-weight: var(--font-weight-light);
    margin-top: 1.5rem;
    text-align: center;
}

/* РУКА */

.page-grid-ios {
    position: fixed;
    bottom: -530px;
    left: 30px;    
    transform: translate(0, 0);
    transition: transform 500ms ease-in-out;
}

.page-grid-ios:hover {
    transform: translate(0, -420px);
}

.page-grid-ios > :first-child {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(6rem);
    transition: transform 500ms;
}

.page-grid-ios > .ios__scroll-down {
    transform: translateY(-6rem);
}

.page-grid-ios > .ios__scroll-up {
    transform: translateY(2rem);
}

.section-heading {
    display: inline-block;
    margin: 0 0 5px 15px;
    padding: 15px;
    border-radius: 5px;
    font-weight: var(--font-weight-bold);
    line-height: 1.15;
    text-transform: uppercase;
    -webkit-text-stroke: 0.0625rem;
    background-color: rgb(20 30 36 / 85%);
}

.image-link {    
    position: relative;
    width: 16rem;
    height: 32.5rem;
    background-image: url(images/ios-phone.svg);
    background-repeat: no-repeat;
    background-size: contain;    
}

.image-link:hover {
    filter: drop-shadow(0 0 0.125rem var(--color-text-hover)) drop-shadow(0 0 0.25rem var(--color-text));
}

/* ЭЛЕМЕНТЫ */

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}